#app {
 padding: 2em;
}

.table-header-div {
  padding-right: 27px;
  border: 1px Solid #c0c0c0;
}
.table-header-div > table {
  width: 100%;
  border-collapse: separate;
  /*border-left: 1px Solid #c0c0c0;*/
}
.table-header-div > table > thead > tr:first-child > th {
  border-top: none;
}
.table-header-div > table > thead > tr > th {
  cursor: pointer;
  white-space: nowrap;
  padding: 4px 6px 5px;
  border-right: 1px Solid #c0c0c0;
  border-top: 1px solid #c0c0c0;
  background-color: #f5f5f5;
/*   overflow: hidden; */
  font-weight: normal;
  text-align: left;
  box-sizing: content-box;
}
.table-header-div > table > thead > tr > th.filter-th {
  padding: 3px 5px 3px 3px;
}

.table-body-div {
  height: 300px;
  overflow-y: scroll;
  overflow-x: none;
  border: 1px Solid #c0c0c0;
  border-top: none;
  border-bottom: none;
}

.table-body-div.disabled {
  /*background: #eee;*/
  color: #ccc !important;
  /*overflow-y: hidden;*/
}

.table-body-div > table {
  width: 100%;
  border-collapse: separate;
  /*border-left: 1px Solid #c0c0c0;*/
}
/* .table-body-div > table > tbody > tr:last-child > td {
  border-bottom: 0px;
} */

.table-footer-div {
  padding-right: 27px;
  border: 1px Solid #c0c0c0;
  border-top: none;
}
.table-footer-div > table {
  width: 100%;
  border-collapse: separate;
}
.table-footer-div > table > tbody > tr > td {
  border-bottom: 1px Solid #FFF;
  border-right: 1px Solid #FFF;
  border-top-width: 0;
  border-left-width: 0;

  box-sizing: content-box;
}

/* td {
  overflow: hidden;
  border-bottom: 1px Solid #ddd;
  border-right: 1px Solid #ddd;
  border-top-width: 0;
  border-left-width: 0;
  padding: 3px 6px 4px;
  box-sizing: content-box;
} */


th:first {
  border-left: 1px Solid #c0c0c0;
}

td {
  overflow: hidden;
  border-bottom: 1px Solid #ddd;
  border-right: 1px Solid #ddd;
  border-top-width: 0;
  border-left-width: 0;
  padding: 3px 6px 4px;
  box-sizing: content-box;
}

/*------------------------------------------*/
.ui.input > .ui.label.filter-btn {
  min-width: 12px;
  padding: 3px 5px;
  border-radius: 0px;
  background-color: #f5f5f5;
  border: 1px Solid #ddd;
}

.ui.label.filter-btn > .icon {
  margin-right: 0px;
}

.ui.label.filter-btn > .menu.transition {
  border-radius: 0px;
}

.ui.label.filter-btn > .menu.transition > .item {
  padding: 8px 10px !important;
}

.ui.input .filter-input {
  padding: 3px;
  border-radius: 0px;
}


.ui.segment.empty-segment {
  margin: 0px;
  padding: 0px;
}

.selected-row {
  background-color: #249FDA;
  color: White;
}


.text-filter-window {
/*   resize: both; */
  height: 240px;
  width: 250px;
  z-index: 1000;
  position: absolute;
  overflow: hidden;
  border: 1px solid #CCC;
  white-space: nowrap;
  background: #FFF;
  padding: 10px 15px;
  padding-bottom: 50px;
  /*border-radius: 4px;*/
  box-shadow: 0 2px 4px 0 rgba(34,36,38,.12),0 2px 10px 0 rgba(34,36,38,.08);
}

.text-filter-window > .show-checkboxes {
  height: 100%;
}

.text-filter-window > .show-checkboxes > .bottom-buttons {
  position: absolute;
  bottom: 10px;
}

.text-filter-window > .show-checkboxes > .bottom-buttons > .button {
  border-radius: 0px;
}


.text-filter-window > .show-checkboxes > .item-list {
  height: 100%;
  overflow-y: auto;
}

.text-filter-window > .show-checkboxes > .item-list > .ui.list > .item > .ui.checkbox label:before {
  border-radius: 0px;
}


.text-filter-window > .not-found > .button {
  position: absolute;
  bottom: 10px;
  border-radius: 0px;
}



